*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.content-product{
    margin-left: 240px;
    display: block;
    margin-top: 80px;

}

.hit {
    /* width: 24%; */
    float: left;
    margin-bottom: 10px;
    border-bottom: solid 1px #eee;
    gap: 8px;    /* margin: .5%; */
    box-shadow: 0 0 3px #f6f6f6;
    position: relative;
}

.hit-wrapper {
    border: solid 1px #eee;
    padding: 10px 20px 20px;
}


.hit .product-picture-wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.hit .product-picture {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
}
.hit .product-picture img {
    transition: opacity 500ms cubic-bezier(.19,1,.22,1);
    height: 150px;
    max-width: 100%;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}


.hit .product-desc-wrapper {
    height: 100px;
    width: 100%;
    overflow: hidden;
}
.hit .product-name {
    font-weight: 700;
    color: #000;
    font-size: .9em;
    margin: 0 0 8px;
    min-width: 120px;
    overflow: auto;
    max-height: 70px;
}
.hit .product-type {
    font-size: .8em;
    margin: 0 0 10px;
    color: #a2a2a2;
}
.hit .product-price {
    font-size: 1.1em;
    font-weight: 700;
    color: #000;
    float: right;
    letter-spacing: -1px;
    padding-right: 5px;
}
.hit .product-rating {
    margin-bottom: 10px;
}
.sort-by {
    margin-top: 65px;
    float: left;
    margin-left: 240px;
}
option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
button, select {
    text-transform: none;
}
select:not(:-internal-list-box) {
    overflow: visible !important;
}
.ais-sory-by-selector{
    margin-left: 10px;
}