*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.text-content{
    flex-direction: row;
    width: 230px;
}

.nav-left{
    position: fixed;
    overflow-y: auto;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 230px;
    padding: 20px;
    border-right: 1px solid #eee;
    background: #fff;
}

.content{
    margin-left: 230px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.title-nav-left{
    font-size: 18px;
    margin: 0 0 8px;
    color: #888;
}

.fact-name{
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    letter-spacing:0.5px;
}
.fact-name:hover{
    color: red;
}
.facet-wrapper{
    padding-bottom: 12px;
    border-bottom: solid 1px #eee;
    margin-bottom: 12px;
    font-size: .87em;
}
.facet-title {
    font-weight: 700;
    margin: 15px 0 4px 0;
}

.facet-item{
    text-decoration: none;
    color: black;
}
.facet-item:hover{
    color: red;
}
.fact-check{
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    letter-spacing:0.5px;

}
.fact-check:hover{
    color: red;
}
.submit-search{
    top: 0;
    right: inherit;
    left: 0;
    border: 0;
    border-radius: 3px 0 0 3px;
    background-color: rgba(255,255,255,0);
    width: 26px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: inherit;
}
.input{
    position: absolute;
    border: 0;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px #ccc;
    background: #fff;
    padding-left: 5px;
    vertical-align: middle;
    white-space: normal;
    font-size: inherit;
}

.ratting{
    display: inline-block;
    width: 15px;
}
.star{
    vertical-align: middle;
}
.form-prices{
    margin-top: 8px;
}
label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.prices{
    display: inline-block;
    margin-right: 4px;
}
.input-prices{
    display: inline-block;
    width: 50px;
    border-radius: 2px;
    border: solid 1px #888;
    font-weight: 400;
}
.btn-prices{
    display: block;
    float: right;
    width: 22px;
    height: 22px;
    padding: 0;
    margin-left: 4px;
    font-size: 10px;
    line-height: 20px;
    border: solid 1px #888;
    border-radius: 50%;
    text-align: center;
    background-color: #eee;
}
