.nav-header {
  position: fixed;
  top: 0;
  width: 100%;
  /* height: 100px; */
  z-index: 9999;
  
}

.title {
  color: white;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  padding: 0 15px;
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 0.5mm;
}
.title:hover {
  color: white;
}
.form-control {
  height: 35px;
}
.btn {
  height: 35px;
}

